<div class="row">
	<h2 class="titulo">Accesos / Funciones / Permisos</h2>
	<div class="row borde-bajo">
		<h5 class="subtitulo">Gestione los Permisos del Sistema</h5>
	</div>
</div>
</br>
<div class="row">
	<div class="col-md-12 workspace">
		<label class="texto-der oculto" id="txtMensajeRpta"></label>
		<table class="list issues" style="" id="tablaPermiso"></table>
	</div>
</div>