<div class="row">
	<h2 class="titulo">Accesos / Menú</h2>
	<div class="row borde-bajo">
		<h5 class="subtitulo">Gestione los Controles de Seguridad de los Activos de Información</h5>
	</div>
</div>
</br>
<div class="row">
	<div class="col-md-3 workspace">
		<label class="texto-der oculto" id="txtMensajeRpta"></label>
		<table class="list issues" style="" id="tablaModulos"></table>
	</div>
	<div class="col-md-3 workspace">
		<label id="id_modulo" class="oculto"></label>
		<label class="texto-der oculto" id="txtMensajeRpta"></label>
		<table class="list issues" style="" id="tablaSubtitulos"></table>
	</div>
	<div class="col-md-5 workspace">
		<label id="id_subtitulo" class="oculto"></label>
		<label class="texto-der oculto" id="txtMensajeRpta"></label>
		<table class="list issues" style="" id="tablaItems"></table>
	</div>
</div>