<div class="modal-body">
    <table class="list issues" style="margin-top:10px;" id="tablaAccesos"></table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Cerrar</button>
</div>