<div class="modal-body">
	<h5 class="subtitulo">Edite los datos del usuario seleccionado</h5>
	<div class="row" style="margin-top:10px;">
		<div class="col-md-6">
		    <div class="form-group">
			    <label for="txtUsuario">Usuario</label>
			    <input type="text" class="form-control" id="txtUsuario">
		  	</div>
	  	</div>
	  	<div class="col-md-6">
		  	<div class="form-group">
			    <label for="txtCorreo">Correo</label>
			    <input type="text" class="form-control" id="txtCorreo">
		  	</div>
	  	</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-default pull-right" id="btnGuardar"><i class="fa fa-check" aria-hidden="true"></i>Guardar Cambios</button>
		</div>
	</div>
	<h5 class="subtitulo">Cambiar contrase単a</h5>
	<div class="row" style="margin-top:10px;">
		<div class="col-md-4">
		    <div class="form-group">
			    <label for="txtContraseniaAntgua">Contrase単a Antigua</label>
			    <input type="text" class="form-control" id="txtContraseniaAntgua">
		  	</div>
	  	</div>
	  	<div class="col-md-4">
		  	<div class="form-group">
			    <label for="txtContraseniaNueva">Contrase単a Nueva</label>
			    <input type="text" class="form-control" id="txtContraseniaNueva">
		  	</div>
	  	</div>
	  	<div class="col-md-4">
		  	<div class="form-group">
			    <label for="txtContraseniaRepita">Repita Contrase単a Nueva</label>
			    <input type="text" class="form-control" id="txtContraseniaRepita">
		  	</div>
	  	</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-default pull-right" id="btnGuardar"><i class="fa fa-check" aria-hidden="true"></i>Guardar Cambios</button>
		</div>
	</div>	
</div>