<div class="row">
	<h2 class="titulo">Accesos / Funciones / Roles</h2>
	<div class="row borde-bajo">
		<h5 class="subtitulo">Gestione los Roles del Sistema y sus Respectivos Permisos</h5>
	</div>
</div>
</br>
<div class="row">
	<div class="col-md-4 workspace">
		<label class="texto-der oculto" id="txtMensajeRpta"></label>
		<label class="oculto" id="id_rol"></label>
		<table class="list issues" style="" id="tablaRoles"></table>
	</div>
	<div class="col-md-6 workspace">
		<table class="list issues" style="" id="tablaPermisos"></table>
	</div>
</div>