 <!-- Inicio CSS Modal-->
<%= load_modal_css %>
<!-- Fin CSS Modal -->
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= @titulo_modal %></h4>
      </div>
        <%= yield %>
    </div>
</div>
<!-- Inicio JS Modal-->
<%= load_modal_js %>
<!-- Fin JS Modal -->